@media screen and (max-width: 950px) {
    .carousel-wrapper {
    padding-top: 0rem;
    width: 90vw;
    margin-left: calc(50% - 45vw);
    }


    .carousel-info h3 {
        font-size: clamp(1.0rem, 0.7vw, 1.9rem);
        margin-bottom: clamp(0.15rem, 0.15vw, 0.3rem);
    }
    .carousel-info p {
        font-size: clamp(0.8rem, 0.7vw, 1.9rem);
        margin-bottom: clamp(0.15rem, 0.15vw, 0.3rem);
    }

  
}
@media screen and (max-width: 850px) {
   
    .slide {
        flex: 0 0 clamp(200px,30vw,240px);  /* 3 cards per view with gap */
        height: clamp(170px,23vw,220px)
    }
    
}
@media screen and (max-width: 600px) {

    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }

    section,
    .section-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }   
    
    .projects-label {
        display: none;
    }

    .projects-btn {
        margin: auto;
        margin-bottom: 0.5rem;
    }

    /* experiences.html*/
    .card-content {
        flex-direction: column;
    }

    .card-image {
        width: 180px;
        height: 180px;
    }
    .carousel-viewport {


        /* no fade edges */
        mask-image: linear-gradient(
            to right,
            transparent 0%,
            rgba(0, 0, 0, 0.2) 10%,
            rgba(0, 0, 0, 0.8) 20%,
            black 30%,
            black 70%,
            rgba(0, 0, 0, 0.8) 80%,
            rgba(0, 0, 0, 0.2) 90%,
            transparent 100%
        );
        -webkit-mask-image: linear-gradient(
            to right,
            transparent 0%,
            black 0%,
            black 100%,
            transparent 100%
        );
        mask-image: linear-gradient(
            to right,
            transparent 0%,
            black 0%,
            black 100%,
            transparent 100%
        );

    }



  /*

  .carousel {
    display: none;
  }

  .carousel-info {
    min-height: 0px;
  }
  .carousel-info h3 {
    height:0px;
  }

  .projects-label {
    display: none;
  }

  .projects-btn {
    margin: auto;
  }
    */
  

}
