
@media screen and (max-width: 600px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }


}

@media screen and (max-width: 600px) {
 
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }   
   .carousel {
    display: none;
  }
  


}